<div class="footer uk-flex uk-flex-between uk-padding">
	<p>copyright noamaqua.com</p><div class="uk-flex uk-flex-center">
            <a class=" "  href="https://youtube.com/channel/UCL9rgliNbKenR0YpSx3AaAA"><span uk-icon="icon: youtube; ratio: 1.5"></span></a>
            <a class=" "  href="https://www.instagram.com/noamaqua/"><span uk-icon="icon: instagram; ratio: 1.5"></span></a>
            <a class=" "  href="https://www.facebook.com/aquanoam/?ti=as"><span uk-icon="icon: facebook; ratio: 1.5"></span></a>
        </div>

</div>