
<div class="uk-position-relative navnew">
    <nav uk-navbar="dropbar: true; dropbar-mode: push" >
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li>
                    <a class="" href="#">
                       <span uk-icon="icon: menu; ratio: 2.5" class="menu"></span> 
                    </a>
                    <div class="uk-navbar-dropdown dropdown" uk-drop="boundary: !nav; boundary-align: true; pos: bottom-center;">
                        <ul class="uk-nav uk-navbar-dropdown-nav-center uk-text-center">
                            <li><div><a class=" " href="#about" uk-scroll>About</a></div></li>
                            <li><div><a class=" "  href="#contact">Contact</a></div></li>
                            <li class="uk-margin-top"><div class="uk-flex uk-flex-center">
                                <a class=" "  href="https://youtube.com/channel/UCL9rgliNbKenR0YpSx3AaAA"><span uk-icon="icon: youtube; ratio: 1.5"></span></a>
                                <a class=" "  href="https://www.instagram.com/noamaqua/"><span uk-icon="icon: instagram; ratio: 1.5"></span></a>
                                <a class=" "  href="https://www.facebook.com/aquanoam/?ti=as"><span uk-icon="icon: facebook; ratio: 1.5"></span></a>
                            </div></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="uk-navbar-dropbar dropdown"></div>
</div>