// Custom styles
// =================================================


/* colors */

$color-main: #000000;

/* universial classes */
.background{
	 padding-left: 10px;
     padding-right: 10px;
     overflow: hidden;
}
                /* nav */

.from-top{
	height:10px;
}
.nav{
	top:0;
	z-index: 100;
	background-color:rgba(0, 0, 0, 0.5);;
}
.navbar{
	height: 60px;
	transition: all 0.5s;
	color: #000;
	@media (min-width: $breakpoint-medium) {
	        height: 100px;
	    }

			.logo{

				@media (min-width: $breakpoint-small) {
			        margin-right: 250px;
			    }

			}
	
			a{
				font-family: 'Lato', sans-serif;
			    text-transform: uppercase;
			    font-size: 16px;
			    line-height: 16px;
			    font-weight: 400;
				text-decoration:none;
				color: inherit;
			    opacity: 0.75;
			    transition: opacity 0.2s ease;
			    margin-left: 15px;
		        margin-right: 15px;
		        position: relative;
		        padding-bottom: 5px;
		        transition: font-size 0.3s ease-in-out 0s;
		        &:hover{
		        	opacity:1;
		        }

			}
	.active{
		opacity:1;
		border-bottom: 2px solid var(--line);
        padding-bottom: 2px;
        transition: border-bottom 0.2s ease;
	}
	.underline{

		&:before{
          content: "";
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  bottom: 0;
		  left: 0;
		  background-color: var(--line);
		  visibility: hidden;
		  transform: scaleX(0);
		  transition: all 0.3s ease-in-out 0s;
        }
	}
	.underline:hover::before {
	  visibility: visible;
	  transform: scaleX(1);
	}
	
}
.scroll{
    background-color: #000;
    height: 60px;
    padding-right: 10px;
    color:#FF0000 ;
    -webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%);

    a{
    	font-size: 13px;
    	transition: font-size 0.3s ease-in-out 0s;
    }


}
.portfoio-nav{
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%);
}
.nav-small{

    .background{
    	background-color:#006900;
    }
	li{
		margin-bottom: 10px;
	}

	a{
		font-size: 20px;
	    line-height: 30px;
	    font-family: 'Open Sans';
	    font-weight: 700;
	    text-transform: uppercase;
		text-decoration:none;
		color: inherit;
	    opacity: 0.75;
	    transition: opacity 0.2s ease;
	    margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding-bottom: 15px;
        &:hover{
        	opacity:1;
        }

	}

	button{
		top: 13px;
		opacity:1;
		color:#fff;
		transition:all 0.5s;
		&:hover{
           transform: rotate(90deg);
		}
	}
}


/* nav new */

.navnew{
	.menu{
			color:#C9C9C9;
			&:hover{
				color:#9E9E9E;
			}
			&:active{
				color:#7D7D7D;
			}
		}
	.dropdown{
		background-color:transparent;
		ul{
			background-color:transparent;
		}
		a{
		font-size: 20px;
	    line-height: 30px;
	    font-family: 'Open Sans';
	    font-weight: 700;
	    text-transform: uppercase;
		text-decoration:none;
		color: #ffffff;
	    opacity: 0.75;
	    transition: opacity 0.2s ease;
	    margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding-bottom: 15px;
        &:hover{
        	opacity:1;
        }
	   }
    }
}

/* footer */

.footer{
	background: #313131;
	color: #999999;
	font-size: 18px;
	font-family: 'PT Sans Narrow', sans-serif;
	padding-top: 15px;
	padding-bottom: 10px;
	opacity:0.94;
		a{
		font-size: 20px;
	    line-height: 30px;
	    font-family: 'Open Sans';
	    font-weight: 700;
	    text-transform: uppercase;
		text-decoration:none;
		color: #ffffff;
	    opacity: 0.75;
	    transition: opacity 0.2s ease;
	    margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding-bottom: 15px;
        &:hover{
        	opacity:1;
        }
	}
}


/* main page */

	.m-second{
		background-color:$color-main;
		.container{
			max-width:600px;
		}
		.under-nav{
		height: 60px;
		transition: all 0.5s;
		color: #ffffff;
		@media (min-width: $breakpoint-medium) {
		        height: 100px;
		    }
				a{
					font-family: 'Lato', sans-serif;
				    text-transform: uppercase;
				    font-size: 16px;
				    line-height: 16px;
				    font-weight: 400;
					text-decoration:none;
					color: inherit;
				    opacity: 0.75;
				    transition: opacity 0.2s ease;
				    margin-left: 15px;
			        margin-right: 15px;
			        position: relative;
			        padding-bottom: 5px;
			        transition: font-size 0.3s ease-in-out 0s;
			        &:hover{
			        	opacity:1;
			        }

				}
			}
	}

	/* about */
	.background{
		 transition: all 1s;
		}
    .about{
    	h1{
    		font-size: 30px;
		    font-weight: bold;
		    text-align: center;
		    color: #fff;
		    position: relative;
		    margin: 30px 0 40px;
		    position:relative;
		    font-family: 'PT Sans Narrow', sans-serif;
            font-weight: 700;
		    &:before{
		    	content: " ";
			    border-bottom: 1px solid #fff;
			    width: 60px;
			    display: inline-block;
			    position: absolute;
			    bottom: -35%;
			    right: 50%;
			    text-align: center;
		    }
		    &:after{
	    	    content: " ";
			    border-bottom: 1px solid #fff;
			    width: 60px;
			    display: inline-block;
			    position: absolute;
			    bottom: -35%;
			    left: 50%;
		    }
    	}
    	p{
    		font-family: 'PT Sans Narrow', sans-serif;
    		color:#fff;
    		font-size: 20px;
			vertical-align: baseline;
			line-height: 26px;
			font-style: normal;
			font-weight: 500;
    	}
    }



	/* youtube vids */
	.container{
			width: 100%;
		    margin: 0 auto;
		    overflow: hidden;
		    padding-left:0px;
		    @media (min-width: $breakpoint-small) {
			    max-width: 66%;
               }
               @media (min-width: $breakpoint-large) {
			    max-width: 1170px;
               }
         }
	.youtube-vids{
		.block{
			padding-left:0px;
			height: 250px;
			@media (min-width: $breakpoint-small) {
			    height: 150px;
			    padding-left:13px;
               }
               @media (min-width: $breakpoint-medium) {
			    height: 250px;
			    padding-left:25px;
               }
		}
		a{
			position:relative;
			cursor: pointer;
			color:#fff;
			padding: 11px;
			&:before{
				content: " ";
			    border: 2px solid #000;
			    border-bottom: 0px solid #fff;
			    width: 100%;
			    top: 0;
			    left: 0;
			    height: 20%;
			    display: inline-block;
			    position: absolute;
			    text-align: center;
			    -webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			    transition: all .3s ease;
			    &:hover{
			    	border: 2px solid #fff;
			    }
			}
			&:after{
				content: " ";
			    border: 2px solid #000;
			    border-top: 0px solid #fff;
			    width: 100%;
			    bottom: 0;
			    left: 0;
			    height: 20%;
			    display: inline-block;
			    position: absolute;
			    text-align: center;
			    -webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			    transition: all .3s ease;
			    &:hover{
			    	border: 2px solid #fff;
			    }
			}
			&:hover:before{
			    	border: 2px solid #fff;
			    	border-bottom: 0px solid transparent;
			}
			&:hover:after{
			    	border: 2px solid #fff;
			    	border-top: 0px solid transparent;
			}
			&:hover{
				color:#FF0000;
			}
			span{
				   color:inherit;
				   opacity: 0.7;
			}
		}
	}
	/* contact */

	.contact{
		color:#000000;
		padding-bottom: 180px;
		padding-top: 90px;
		h3{
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: 700;
			font-size: 40px;
			color:inherit;
			letter-spacing: 1.2px;
			em{
				color:inherit;
			}
		}
		.mail{
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: 400;
			font-size: 30px;
			opacity: 0.8;
			color:inherit;
		    border-bottom: 3px solid #BC0404;
			&:hover{
				color:#FF0000;
				text-decoration: none;
			}
		}
	}